.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 30px;

  .loginBtn {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #738adb;
    color: #eff2f5;
    font-weight: 800;
    border: none;
    &:hover {
      background-color: black;
      color: #738adb;
    }
  }

  .loginLogo {
    img {
      object-fit: cover;
      height: 150px;
    }
  }
}
